<header class="main-header dark-header fs-header sticky">
			<div class="header-inner">
				<div class="logo-holder">
					<a href="/">
			<img src="https://res.cloudinary.com/packmyload/image/upload/v1545994681/PML1x.png" style="height: 50px;"/>

					</a>
				</div>


				<a href="/book" class="add-list">Book Now <span><i
						class="fa fa-plus"></i></span></a>
				<div class="show-reg-form" >
				<a href="tel:07007225776" style="color: white;"><i class="fa fa-phone"></i>Call Us </a>
					
				</div>
				

				<!-- nav-button-wrap-->
				<div class="nav-button-wrap color-bg">
					<div class="nav-button">
						<span></span><span></span><span></span>
					</div>
				</div>
				<!-- nav-button-wrap end-->
				<!--  navigation -->
				<div class="nav-holder main-menu">
					<nav>
						<ul>
							<li><a href="/services">Services <i
									class="fa fa-caret-down"></i></a>
								<ul>
									<li><a href="/home-moves">Home Moves</a></li>
									<li><a href="/office-moves">Office/Business Moving</a></li>
									<li><a href="/store-delivery">Store delivery/small
											moves</a></li>
									<li><a href="/student-moves">Student moves</a></li>
									<li><a href="/Junk-moves">Junk removals</a></li>
									<li><a href="/cleaning">cleaning services</a></li>
									<li><a href="/international-relocations">International
											relocation</a></li>
									<li><a href="/wedding-handling">Wedding gift handling</a></li>
									<li><a href="/storage">Secure Storage</a></li>
								</ul></li>
								
								<li><a href="/gallery">Gallery </a><li>

							<li><a href="#">Partner<i class="fa fa-caret-down"></i></a>
								<ul>
									<li><a href="/partner">Partner With Us</a></li>
									<li><a href="/become_a_packer">Become a Pacman</a></li>
								</ul></li>
							<li><a href="/book">Get an Estimate</a></li>

						</ul>
					</nav>
				</div>
				<!-- navigation  end -->
			</div>
			
			

		</header>
